.panel-header-title {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    text-overflow: initial;
    white-space: initial;
}

.intensity-panel .panel-header-title {
    font-size: 20px;
}

.intensity-panel .widget-label{
    font-weight: bold;
}

.protocole-table thead > tr{
    height: 50px;
    vertical-align: bottom;
}

.protocole-table tr{
    height: 31px;
}

.volumes-container.panel {
    display: inline-table;
}

.widget-readout {
    font-weight:bold;
}

.data-files-view .panel-body {
    font-family: Courier New, Courier, monospace;
}