.panel-header-title {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    text-overflow: initial;
    white-space: initial;
}

.intensity-panel .panel-header-title {
    font-size: 20px;
}

.intensity-panel .widget-label{
    font-weight: bold;
}

.protocole-table thead > tr{
    height: 50px;
    vertical-align: bottom;
}

.protocole-table tr{
    height: 31px;
}

.volumes-container.panel {
    display: inline-table;
}

.widget-readout {
    font-weight:bold;
}

.data-files-view .panel-body {
    font-family: Courier New, Courier, monospace;
}

.panel-footer .file-uploader .btn {
    width: 100%;
}

.widget-tab-contents .plot-placeholder.well .widget-html-content > div {
    text-align: center;
    font-size: 16px;
    font-weight: initial;
    vertical-align: middle;
    margin: auto;
}

.widget-tab-contents .plot-placeholder.well h2 {
    font-weight: bold;
}

.widget-tab-contents .plot-placeholder.well code {
    font-weight: bold;
}

.p-TabBar-tabLabel{
    font-weight:bold;
}